body {
    background-color: darkgoldenrod;
}

.logocolor {
    background-color: darkgoldenrod;
}

.findlogocolor {
    background-color: darkgoldenrod;
}

.servicescolor {
    background-color: darkgoldenrod;
}
.meetcolor {
    background-color: darkgoldenrod;
}
.gallerycolor {
    background-color: darkgoldenrod;
}
.logincolor {
    background-color: darkgoldenrod;
}